<div class="header">
  <%= header_link_to "About Us", "/" %>
  <%= header_link_to "Our Peeps", "/peeps" %>
  <%= header_link_to "Wedding Details", "/details" %>
  <%= header_link_to "Registry", "/registry" %>
  <%= header_link_to "RSVP", "/rsvp" %>
  <%= header_link_to "Music", ["/music", "/song_suggestions"] %>
</div>
