<div class="peeps">
  <div class="kelsey">
    <%= image_tag "bride.png", :width => 180 %>
    <ul class="bridesmaids">
      <li class="peep">
        <div class="image" data-image="<%= image_path('india.png') %>"></div>
        <div class="name">India</div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('jada.png') %>"></div>
        <div class="name">Jada</div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('raphi.png') %>"></div>
        <div class="name">Raphi</div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('amelia.png') %>"></div>
        <div class="name">Amelia</div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('beth.png') %>"></div>
        <div class="name">Beth</div>
      </li>
    </ul>
  </div>

  <div class="eli">
    <%= image_tag "groom.png", :width => 180 %>
    <ul class="groomsman">
      <li class="peep">
        <div class="image" data-image="<%= image_path('noah.png') %>"></div>
        <div class="name">Noah</div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('travis.png') %>"></div>
        <div class="name">Travis</div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('brett.png') %>"></div>
        <div class="name">Brett</div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('chatman.png') %>"></div>
        <div class="name">Chatman</div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('kyle.png') %>"></div>
        <div class="name">Kyle</div>
      </li>
    </ul>
  </div>
</div>
