<div class="peeps">
  <h1 class="gals">The Gals</h1>

  <div class="kelsey">
    <%= image_tag "bride.png", :height => 340 %>
    <ul class="bridesmaids">
      <li class="peep">
        <div class="image" data-image="<%= image_path('india.png') %>"></div>
        <div class="name">
          India
          <div class="subtag">(little sis)</div>
        </div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('jada.png') %>"></div>
        <div class="name">
          Jada
          <div class="subtag">(high school bestie)</div>
        </div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('raphi.png') %>"></div>
        <div class="name">
          Raphi
          <div class="subtag">(college bestie)</div>
        </div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('amelia.png') %>"></div>
        <div class="name">
          Amelia
          <div class="subtag">(future sister-in-law)</div>
        </div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('chloe.png') %>"></div>
        <div class="name">
          Chloe
          <div class="subtag">(neighborhood bestie)</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="dashes"></div>

  <div class="eli">
    <h1 class="guys">The Guys</h1>
    <%= image_tag "groom.png", :height => 340 %>
    <ul class="groomsman">
      <li class="peep">
        <div class="image" data-image="<%= image_path('noah.png') %>"></div>
        <div class="name">
          Noah
          <div class="subtag">(little bro)</div>
        </div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('travis.png') %>"></div>
        <div class="name">
          Travis
          <div class="subtag">(future brother-in-law)</div>
        </div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('brett.png') %>"></div>
        <div class="name">
          Brett
          <div class="subtag">(future brother-in-law)</div>
        </div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('chatman.png') %>"></div>
        <div class="name">
          Chatman
          <div class="subtag">(best friend)</div>
        </div>
      </li>
      <li class="peep">
        <div class="image" data-image="<%= image_path('kyle.png') %>"></div>
        <div class="name">
          Kyle
          <div class="subtag">(best friend)</div>
        </div>
      </li>
    </ul>
  </div>
</div>
