<!DOCTYPE html>
<html>
<head>
  <title>Wedding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">
</head>
<body>
  <%= content_for :header_image %>

  <div class="content">
    <%= render "shared/header" %>
    <%= yield %>
  </div>

  <footer class="footer">
    K & E
  </footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
