<!DOCTYPE html>
<html>
<head>
  <title>Wedding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">
</head>
<body>

<div class="content">
  <%= content_for :header_image %>

  <div class="body">
    <%= render "shared/header" %>
    <%= yield %>
  </div>
</div>

<footer class="footer">
  K & E
</footer>

</body>
</html>
